/* Top Navbar*/
li.nav-links {
    float: left;
}
  
.nav-links li {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-links li:hover {
    background-color: #111;
}


/* Organization List */
.organization-list {
    list-style: none;
    padding: 20px;
    display: flex;
    gap: 20px;
    /* overflow: hidden; */
}

.organization-item {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 6px;
    /* min-width: 340px; */
    width: 400px;
    padding: 15px;    
}

.organization-item:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* .organization-name {
    text-align: center;
} */
