/* Top Navbar*/
li.nav-links {
    float: left;
}
  
.nav-links li {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-links li:hover {
    background-color: #111;
}


/* Organization List */
.organization-list {
    list-style: none;
    padding: 20px;
    display: flex;
    gap: 20px;
    overflow-x: auto;   /* This will give horizontal scrolling feature for multiple organization-list cards */
    /* white-space: nowrap; */
}

.organization-card a {
    text-decoration: none;
    color: #111;
}

.organization-card img {
    max-width: 100%;
    height: 290px;
    width: 350px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.organization-item {
    box-shadow: 0 4px 8px 3px rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 6px;
    width: 400px;
    padding: 15px;    
}

.organization-item:hover {
    box-shadow: 0 8px 16px 6px rgba(0,0,0,0.2);
}

/* Dashboard-content: */
/* .dashboard-content{
    padding-bottom: 150px;
} */


/* footer.css */
.app-footer {
    background-color: #333; /* Dark grey background color */
    color: #fff; /* White text color */
    padding: 1px;
    text-align: center;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    box-sizing: border-box; /* Include padding and borders in the total width and height */
}

